<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco Alimentar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Atribuição de cabazes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                @if (Request.IsAuthenticated && User.IsInRole("Admin")){
                    <li>@Html.ActionLink("Registar Instituicao", "Register", "Account")</li>
                    <li>@Html.ActionLink("Instituicoes", "Index", "Instituicaos")</li>
                    <li>@Html.ActionLink("Familias", "Index", "Familias")</li>
                    <li>@Html.ActionLink("Beneficiarios", "Index", "Beneficiarios")</li>
                }
                else if (Request.IsAuthenticated && User.IsInRole("Instituicao"))
                {
                    <li>@Html.ActionLink("Registar Familia", "Create", "Familias")</li>
                }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Atribuicao de cabazes</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
