@model AtribuicaoCabazesipps.Models.Familia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Familia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeResponsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeResponsavel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefoneResponsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneResponsavel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIFResponsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIFResponsavel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIResponsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIResponsavel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroMembros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroMembros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instituicao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instituicao.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar atras", "Index")
</p>
