@model AtribuicaoCabazesipps.Models.Beneficiario

@{
    ViewBag.Title = "Introduzir beneficiário";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Beneficiario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nomeBeneficiario, "Nome: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nomeBeneficiario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomeBeneficiario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nifBeneficiario, "NIF: ",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nifBeneficiario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nifBeneficiario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.biBeneficiario, "BI: ",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.biBeneficiario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.biBeneficiario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefoneBeneficiario,"Telefone: " ,htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefoneBeneficiario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.telefoneBeneficiario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fk_idFamilia, "Familia: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (null != ViewBag.Familia)
                {
                    <input type="hidden" name="fk_idFamilia" value="@ViewBag.Familia.idFamilia" />
                    <text>@ViewBag.Familia.nomeFamilia</text>
                }
                else
                {
                    @Html.DropDownList("fk_idFamilia", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.fk_idFamilia, "", new { @class = "text-danger" })
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
